{% extends "base.html" %}
{% load static %}

{% block nombre-pestaña %}
  <title> Marcos </title>
{% endblock %}

{% block cabecera %}
  <div class="cabecera-seccion">
    <span class="cabecera-seccion__tile">
      <span class="material-symbols-outlined">hive</span>
    </span>
    <div class="cabecera-seccion__texto">
      <h2>Marcos</h2>
      <p>Esta seccion es exclusivamente para manejar la recepcion, procesamiento y entrega de marcos</p>
    </div>
  </div>
{% endblock %}

{% block area-trabajo %}
  <!-- Área de Trabajo -->
  <section id="area-trabajo">
  </section>
{% endblock %}
